<div>

  <div *ngIf="instructions">
    <img src="assets/img/instrucciones.png" alt="">
  </div>
  <h1>Elige el jugador</h1>
  <div class="persons">
    <div>
      <app-player [isSelected]="playerOne==='HOWARD' || playerTwo==='HOWARD'" (clicked)="selectPlayer($event)" player="HOWARD"
        [score]="score"></app-player>
      <app-player [isSelected]="playerOne==='LEONARD' || playerTwo==='LEONARD'" (clicked)="selectPlayer($event)" player="LEONARD"
        [score]="score"></app-player>
      <app-player [isSelected]="playerOne==='PENNY' || playerTwo==='PENNY'" (clicked)="selectPlayer($event)" player="PENNY"
        [score]="score"></app-player>
      <app-player [isSelected]="playerOne==='RAJ' || playerTwo==='RAJ'" (clicked)="selectPlayer($event)" player="RAJ"
        [score]="score"></app-player>
      <app-player [isSelected]="playerOne==='SHELDON' || playerTwo==='SHELDON'" (clicked)="selectPlayer($event)" player="SHELDON"
        [score]="score"></app-player>
    </div>
  </div>
  <div class="game" *ngIf="false">
    <!-- <img class="player" [ngClass]="{'turn':!turn}" *ngIf="playerOne" src="assets/img/personajes/{{playerOne.toLowerCase()}}.png" alt=""> -->
    <!-- <img class="player" [ngClass]="{'turn':turn}" *ngIf="playerTwo" src="assets/img/personajes/{{playerTwo.toLowerCase()}}.png" alt=""> -->
    <div class="choices">
      <span class="choice">
        <img src="assets/img/opciones/piedra.png" alt="">
      </span>
      <span class="choice">
        <img src="assets/img/opciones/papel.png" alt="">
      </span>
      <span class="choice">
        <img src="assets/img/opciones/tijeras.png" alt="">
      </span> <span class="choice">
        <img src="assets/img/opciones/lagarto.png" alt="">
      </span> <span class="choice">
        <img src="assets/img/opciones/spock.png" alt="">
      </span>
    </div>
  </div>



</div>
