.player {
  opacity: .6;
  height: 320px;
  border: 2px dashed transparent;
  transition: all .4s ease-in-out;
  filter: grayscale(1);
}

.score {
  display: inline;
  position: absolute;
  font-size: 2em;
  margin-left: -180px;
  color: white;
}

.turn {
  opacity: 1;
  border: 2px dashed lightgrey;
  transition: all .2s ease-in-out;
  filter: grayscale(0);
}
